.contact{
    display: flex;
    flex-direction: row;
    padding: 2em;
    justify-content: space-evenly;
    background: #DEF7E3;
}

.info{
    max-width: 50%;
    margin-bottom: 20px;
}

.info h1{
    font-size: 3em;
    font-weight: bolder;
}

.info h2{
    font-weight: bolder;
    font-size: 1.8em;
}
.info h3{
    margin-bottom: 20px;
}

.links{
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
}

.form label{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 0.8em;
}

.dropdown{
    position: static;
    background-color: white;
}

.form textarea{
    margin-bottom: 1em;
}